# ===== Python =====
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/

# ===== Build artifacts =====
build/
dist/

# ===== Flatpak =====
.flatpak-builder/
build-dir/

# ===== IDEs =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
