[Desktop Entry]
Type=Application
Name=AudioRouter
Comment=Route applications to virtual PipeWire sinks
Exec=audiorouter
Icon=de.pasuki.audiorouter
Terminal=false
Categories=Audio;Utility;
StartupNotify=true
